<template>
 <v-flex xs12>
    <v-card>
        <v-card-text class="px-0">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        </v-card-text>
    </v-card>
    </v-flex>
</template>

<script>
export default {
  name: 'FranchiseEngagement'
}
</script>
