<template>
    <v-flex lg4 md6 sm12 xs12>
        <v-card>
            <form v-on:submit.prevent="updateUser()">
                <v-card-text>
                    <v-text-field
                    v-model="user.name"
                    :error-messages="nameError"
                    :counter="10"
                    label="Name"
                    @input="$v.user.name.$touch()"
                    @blur="$v.user.name.$touch()"
                    ></v-text-field>
                    <v-text-field
                    v-model="user.age"
                    :error-messages="ageError"
                    label="Age"
                    @input="$v.user.age.$touch()"
                    @blur="$v.user.age.$touch()"
                    type="number"
                    ></v-text-field>
                </v-card-text>

                <v-card-actions class="action-margin">
                    <v-spacer></v-spacer>
                    <v-btn color="primary" type="submit">Update</v-btn>
                </v-card-actions>
            </form>
        </v-card>
    </v-flex>
</template>

<script>
import { required, numeric, maxLength } from 'vuelidate/lib/validators'
import { FETCH_USER, UPDATE_USER } from '@/store/actions.type'
import { mapGetters } from 'vuex'
import store from '@/store'

export default {
  name: 'UserInformationEdit',
  beforeRouteEnter (to, from, next) {
    Promise.all([
      store.dispatch(FETCH_USER, to.params.id)
    ]).then((data) => {
      next()
    })
  },
  validations: {
    user: {
      name: {
        required,
        maxLength: maxLength(10)
      },
      age: {
        required,
        numeric
      }
    }
  },
  computed: {
    ...mapGetters([
      'user'
    ]),
    nameError () {
      const errors = []
      if (!this.$v.user.name.$dirty) return errors
      !this.$v.user.name.maxLength && errors.push('Name must be at most 10 characters long')
      !this.$v.user.name.required && errors.push('Name is required.')
      return errors
    },
    ageError () {
      const errors = []
      if (!this.$v.user.age.$dirty) return errors
      !this.$v.user.age.numeric && errors.push('Age must be numeric.')
      !this.$v.user.age.required && errors.push('Age is required.')
      return errors
    }
  },
  methods: {
    updateUser () {
      let updatedUser = {
        id: this.user.id,
        name: this.user.name,
        age: this.user.age
      }

      this.$v.$touch()
      if (!this.$v.$invalid) {
        store
          .dispatch(UPDATE_USER, this.$route.params.id, updatedUser)
          .then(({ data }) => {
            this.$router.push('/users')
          })
          .catch(({ response }) => {
            this.$router.push('/users')
          })
      }
    }
  }
}
</script>
