<template>
    <v-flex lg4 md6 sm12 xs12>
        <v-card>
            <form v-on:submit.prevent="addUser(user)">
                <v-card-text>
                    <v-text-field
                    v-model="user.name"
                    :error-messages="nameError"
                    :counter="10"
                    label="Name"
                    @input="$v.user.name.$touch()"
                    @blur="$v.user.name.$touch()"
                    ></v-text-field>
                    <v-text-field
                    v-model="user.age"
                    :error-messages="ageError"
                    label="Age"
                    @input="$v.user.age.$touch()"
                    @blur="$v.user.age.$touch()"
                    type="number"
                    ></v-text-field>
                </v-card-text>

                <v-card-actions class="action-margin">
                    <v-spacer></v-spacer>
                    <v-btn color="primary" type="submit">Submit</v-btn>
                </v-card-actions>
            </form>

            <v-snackbar
                v-model="snackbar.status"
                :right="'right'"
                :top="'top'"
                :color="'success'"
                :timeout="6000"
            > {{ snackbar.text }}
            <v-btn
                dark
                flat
                @click="snackbar.status = false"
            > Close
            </v-btn>
            </v-snackbar>
        </v-card>
    </v-flex>
</template>

<script>
import { required, numeric, maxLength } from 'vuelidate/lib/validators'
import store from '@/store'
import { ADD_USER } from '@/store/actions.type'

export default {
  name: 'UserInformationAdd',
  data () {
    return {
      user: {
        name: '',
        age: ''
      },
      errors: {},

      snackbar: {
        status: false,
        text: ''
      }

    }
  },
  validations: {
    user: {
      name: {
        required,
        maxLength: maxLength(10)
      },
      age: {
        required,
        numeric
      }
    }
  },
  computed: {
    nameError () {
      const errors = []
      if (!this.$v.user.name.$dirty) return errors
      !this.$v.user.name.maxLength && errors.push('Name must be at most 10 characters long')
      !this.$v.user.name.required && errors.push('Name is required.')
      return errors
    },
    ageError () {
      const errors = []
      if (!this.$v.user.age.$dirty) return errors
      !this.$v.user.age.numeric && errors.push('Age must be numeric.')
      !this.$v.user.age.required && errors.push('Age is required.')
      return errors
    }
  },
  methods: {
    addUser: function (user) {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        store
          .dispatch(ADD_USER, user)
          .then(({ data }) => {
            alert(data.name)
            // this.user = {}
            // this.errors = {}
          })
          .catch(({ response }) => {
            // this.snackbar.status = true
            // this.snackbar.text = 'Successfully Added'
            this.$router.push('/users')
          })
      }
    }
  }
}
</script>

<style scoped>
.action-margin {
  margin-left: 10px;
  margin-right: 10px;
}
</style>
