<template>
  <v-flex lg4 md6 sm12 xs12>
        <v-card>
            <v-list two-line>
          <template v-for="(user, index) in users">

            <v-list-tile
              :key="user.name"
              avatar
            >
              <v-list-tile-avatar>
                <img src="https://static.change.org/profile-img/default-user-profile.svg">
              </v-list-tile-avatar>

              <v-list-tile-content>
                <v-list-tile-title v-html="user.name"></v-list-tile-title>
                <v-list-tile-sub-title v-html="user.age + ' years old'">test</v-list-tile-sub-title>
              </v-list-tile-content>

              <v-list-tile-action>
                <v-btn small color="info" @click="editUser(user.id)">View</v-btn>
              </v-list-tile-action>&nbsp;
              <v-list-tile-action>
                <v-btn small color="error" @click="removeUser(user.id)">Remove</v-btn>
              </v-list-tile-action>
            </v-list-tile>

            <v-divider
              v-if="index + 1 < user.length"
              :key="index"
            ></v-divider>

          </template>
        </v-list>
        </v-card>
    </v-flex>
</template>

<script>
import { mapGetters } from 'vuex'
import store from '@/store'
import { FETCH_USERS, DELETE_USER } from '@/store/actions.type'

export default {
  name: 'UserInformation',
  data () {
    return {
    }
  },
  beforeRouteEnter (to, from, next) {
    Promise.all([
      store.dispatch(FETCH_USERS)
    ]).then((data) => {
      next()
    })
  },
  computed: {
    ...mapGetters([
      'users'
    ])
  },
  methods: {
    removeUser (slug) {
      store.dispatch(DELETE_USER, slug)
        .then(({ data }) => {
        })
        .catch(({ response }) => {
          Promise.all([
            store.dispatch(FETCH_USERS)
          ])
        })
    },
    editUser (slug) {
      this.$router.push('/edit-user/' + slug)
    }
  }
}
</script>
