<template v-show="errors">
  <ul class="error-messages">
    <li v-for="(value, key) in errors" :key="key">
      {{key}}
      <span v-for="err in value" :key="err.id">{{err}}</span>
    </li>
  </ul>
</template>

<script>
export default {
  name: 'VListErrors',
  props: {
    errors: { type: Object, required: true }
  }
}
</script>
