<template>
    <div>
        <v-navigation-drawer
        v-model="drawer"
        clipped
        fixed
        app
        >
            <the-menu/>
        </v-navigation-drawer>
        <v-toolbar
        :clipped-left="$vuetify.breakpoint.lgAndUp"
        color="primary"
        dark
        app
        fixed>
            <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
            <v-toolbar-title>User Management</v-toolbar-title>
        </v-toolbar>
    </div>
</template>

<script>
import TheMenu from './TheMenu'

export default {
  name: 'TheHeader',
  components: {
    TheMenu
  },
  data: () => ({
    drawer: true
  })
}
</script>
