<template>
    <v-list dense>
        <!-- <router-link tag="v-list-tile" to="/" exact>
            <v-list-tile-action>
                <v-icon>dashboard</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
                <v-list-tile-title>Franchise Engagement</v-list-tile-title>
            </v-list-tile-content>
        </router-link>

        <router-link tag="v-list-tile" to="/franchise-application">
            <v-list-tile-action>
                <v-icon>people</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
                <v-list-tile-title>Franchise Application</v-list-tile-title>
            </v-list-tile-content>
        </router-link>

        <v-divider dark class="my-3"></v-divider>

        <router-link tag="v-list-tile" to="/account-information">
            <v-list-tile-action>
                <v-icon>settings</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
                <v-list-tile-title>Account Information</v-list-tile-title>
            </v-list-tile-content>
        </router-link> -->

        <router-link tag="v-list-tile" to="/users" exact>
            <v-list-tile-action>
                <v-icon>people_outline</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
                <v-list-tile-title>Users</v-list-tile-title>
            </v-list-tile-content>
        </router-link>

        <router-link tag="v-list-tile" to="/add-user" exact>
            <v-list-tile-action>
                <v-icon>person_outline</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
                <v-list-tile-title>Add User</v-list-tile-title>
            </v-list-tile-content>
        </router-link>
    </v-list>
</template>

<script>
export default {
  name: 'TheMenu'
}
</script>

<style scoped>
.router-link-active {
    color: #d32f2f;
    font-weight: bold;
}
</style>
