<template>
    <v-breadcrumbs divider="/" class="margin-top">
      <v-breadcrumbs-item
          v-for="item in items"
          :key="item.text"
          :disabled="item.disabled"
      >
      {{ item.text }}
      </v-breadcrumbs-item>
    </v-breadcrumbs>
</template>

<script>
export default {
  data: () => ({
    items: [
      {
        text: 'Dashboard',
        disabled: false
      },
      {
        text: 'Link 1',
        disabled: false
      },
      {
        text: 'Link 2',
        disabled: true
      }
    ]
  })
}
</script>

<style scoped>

.margin-top {
  margin-top: -20px;
}

</style>
