<template>
  <div id="app">
    <div v-if="!$route.meta.plainLayout">
      <v-app id="inspire">
        <the-header/>
        <v-content>
            <v-container grid-list-md text-xs-center>
                <the-navigation/>
                <router-view/>
            </v-container>
        </v-content>
    </v-app>
    </div>

    <div v-if="$route.meta.plainLayout">
      <router-view/>
    </div>
  </div>
</template>

<script>
import TheHeader from '@/common/layout/TheHeader'
// import TheNavigation from '@/common/layout/TheNavigation'
import TheFooter from '@/common/layout/TheFooter'

export default {
  name: 'app',
  components: {
    TheHeader,
    // TheNavigation,
    TheFooter
  }
}
</script>
