<template>
  <v-app id="inspire">
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <v-toolbar dark color="primary">
                <v-toolbar-title>Forgot Password</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field name="login" label="Email" type="text"></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions class="action-margin">
                <v-spacer></v-spacer>
                <v-btn color="primary">Reset Password</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
}
</script>

<style scoped>
.action-margin {
  margin-left: 10px;
  margin-right: 10px;
}
</style>
