<template>
  <v-app id="inspire">
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <form>
                <v-toolbar dark color="primary">
                  <v-toolbar-title>Register</v-toolbar-title>
                  <v-spacer></v-spacer>
                </v-toolbar>
                <v-card-text>

                <v-text-field
                  v-model="firstName"
                  :error-messages="firstNameError"
                  :counter="10"
                  label="First Name"
                  required
                  @input="$v.firstName.$touch()"
                  @blur="$v.firstName.$touch()"
                ></v-text-field>
                <v-text-field
                  v-model="lastName"
                  :error-messages="lastNameError"
                  :counter="10"
                  label="Last Name"
                  required
                  @input="$v.lastName.$touch()"
                  @blur="$v.lastName.$touch()"
                ></v-text-field>

                <v-text-field
                  v-model="email"
                  :error-messages="emailError"
                  label="Email"
                  required
                  @input="$v.email.$touch()"
                  @blur="$v.email.$touch()"
                ></v-text-field>

                <v-text-field
                v-model="password"
                :error-messages="passwordError"
                :counter="15"
                label="Password"
                type="password"
                required
                @input="$v.password.$touch()"
                @blur="$v.password.$touch()"
                ></v-text-field>

                <v-text-field
                v-model="confirmPassword"
                :error-messages="confirmPasswordError"
                label="Confirm Password"
                type="password"
                required
                @input="$v.confirmPassword.$touch()"
                @blur="$v.confirmPassword.$touch()"
                ></v-text-field>

              </v-card-text>
              <v-card-actions class="action-margin">
                <router-link to="login">Already have an account?</router-link>
                <v-spacer></v-spacer>
                <v-btn color="primary" @click="register">Register</v-btn>
              </v-card-actions>
              </form>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import { required, sameAs, maxLength, email } from 'vuelidate/lib/validators'

export default {
  name: 'AsiRegister',
  data () {
    return {
      firstName: '',
      lastName: '',
      email: '',
      password: '',
      confirmPassword: ''
    }
  },
  validations: {
    firstName: {
      required,
      maxLength: maxLength(10)
    },
    lastName: {
      required,
      maxLength: maxLength(10)
    },
    email: {
      email,
      maxLength: maxLength(20),
      required
    },
    password: {
      maxLength: maxLength(15),
      required
    },
    confirmPassword: {
      sameAsPassword: sameAs('password'),
      required
    }
  },
  computed: {
    firstNameError () {
      const errors = []
      if (!this.$v.firstName.$dirty) return errors
      !this.$v.firstName.maxLength && errors.push('First name must be at most 10 characters long')
      !this.$v.firstName.required && errors.push('First name is required.')
      return errors
    },
    lastNameError () {
      const errors = []
      if (!this.$v.lastName.$dirty) return errors
      !this.$v.lastName.maxLength && errors.push('Last name must be at most 10 characters long')
      !this.$v.lastName.required && errors.push('Last name is required.')
      return errors
    },
    emailError () {
      const errors = []
      if (!this.$v.email.$dirty) return errors
      !this.$v.email.email && errors.push('Must be valid e-mail')
      !this.$v.email.maxLength && errors.push('E-mail must be at most 20 characters long')
      !this.$v.email.required && errors.push('E-mail is required')
      return errors
    },
    passwordError () {
      const errors = []
      if (!this.$v.password.$dirty) return errors
      !this.$v.password.maxLength && errors.push('Password must be at most 15 characters long')
      !this.$v.password.required && errors.push('Password is required.')
      return errors
    },
    confirmPasswordError () {
      const errors = []
      if (!this.$v.confirmPassword.$dirty) return errors
      !this.$v.confirmPassword.required && errors.push('Confirm password is required.')
      !this.$v.confirmPassword.sameAsPassword && errors.push('Confirm password must match password.')
      return errors
    }
  },
  methods: {
    register: function () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        alert('Valid')
      }
    }
  }
}
</script>

<style scoped>
.action-margin {
  margin-left: 10px;
  margin-right: 10px;
}
</style>
